{% extends "AppBundle:layouts:layout.html.twig" %}

{% block content %}
    <div class="col-lg-6 box-form">
    	<h2>Mis datos</h2>
    	<hr/>

    	{{ form_start(form, {'enctype':'multipart/form_data'}) }}

    	{{ form_end(form) }}
    </div>
{% endblock %}